// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.mainM{

    font-size:24px ;
    color: #B3F1E8;

}

.CenterT{

    font-size: 60px !important;
    font-family: 'Merriweather', serif;
}